
@using photography_gallery.Services
@using Microsoft.AspNetCore.Components.Web
@inject ImageListService ListService
@using photography_gallery.Models;
@if (currentDirectory != "")
{
    <button @onclick="(e => GoBack())" class="btn btn-outline-secondary">back</button>
}
<br />
<br />
<div class="text-center">
    <div class="card-columns">
        @foreach (ListEntry directory in ListService.GetDirectoryList(currentDirectory))
        {
            <div class="card btn btn-outline-primary" style="cursor:pointer" @onclick="(e => ChangeDirectory(directory.FullPath))">
                <div class="card-body">
                    <h5>@directory.DisplayName</h5>
                </div>
            </div>
        }
    </div>
    <div class="card-columns">
        @foreach (ListEntry directory in ListService.GetFileList(currentDirectory))
        {
            <div class="card">
                <div class="card-body">
                    <img src="@directory.RelativePath" style="width:100%" />
                </div>
            </div>
        }
    </div>
</div>
@code {
    string currentDirectory = "";

    void ChangeDirectory(string requestedDirectory)
    {
        if (requestedDirectory.Split(".").Last() == "jpg")
        {
            // Open modal?
            return;
        }
        else
        {
            currentDirectory = requestedDirectory.Split("\\images").Last();
        }
    }
    void GoBack()
    {
        string[] splitDirectory = currentDirectory.Split("\\");
        Array.Resize(ref splitDirectory, splitDirectory.Length - 1);
        currentDirectory = string.Join("\\", splitDirectory);
    }
}