@page
@using photography_gallery.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Upload your photos here...</h1>

<form enctype="multipart/form-data" method="post" action="/uploadImages">
    <input type="file" name="file" />
    <input type="submit" />
</form>

<script src="_framework/blazor.server.js"></script>