@page
@using photography_gallery.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h5>Select photo to upload</h5>
<br /><br />

      <form enctype="multipart/form-data" method="post" action="/uploadImages">
          <input id="file" type="file" name="file" />
          <br /><br />
          <input type="submit" value="Upload" />
      </form>

<script src="_framework/blazor.server.js"></script>